*~
.project
.pydevproject
.settings/
*.pyc
*.log
.env/*
*pip-log.txt
*.db
settings_local.py
*.swp
tests/coverage/modules/*
tests/coverage/*.html
interior/static_media/*
*.sqlite3
Makefile.def
.idea
.vagrant
Vagrantfile
pid/
materials/
tags
interior/locale/*
dump.rdb